body, html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: radial-gradient(circle, #6d3b87 0%, #111 100%);
}

body, html,
.app,
#root {
  height: 100%
}

#root,
.row, 
.col,
.app-info,
.balance,
.app-loader-holder,
.app-buttons-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#root {
  align-items: center;
}

.app {
  padding: 30px;
  height: 100px;
  width: 340px;
}
.row {
  height: 100%;
}

.col {
  margin: 0 10px;
  font-size: 3rem;
  width: 70px;
  height: 100px;
  background: #ccc;
  border: 4px solid #6d3b87;
  border-radius: 15px;
  align-items: center;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5)
}

.error {
  margin: 10px 0;
  padding: 10px;
  background-color: #d66b6b;
  border: 2px solid #ff2424;
  border-radius: 5px;
}
.app-info {
  margin-top: 20px;
  flex-direction: column;
  text-align: center;
}

.balance {
  margin: 20px 0;
}

.app-buttons-holder {
  margin-top: 20px;
}

button {
  margin: 0 5px;
}

.balance {
  color: #f4f2f2;
}

.loader {
  height: 15px;
  aspect-ratio: 5;
  display: flex;
  justify-content: space-between;
  --_g: no-repeat radial-gradient(farthest-side,#fbfbfb 95%,#fbfbfb);
  background: var(--_g),var(--_g);
  background-size: 20% 100%;
  animation: l42-0 1s infinite;
}
.loader:before,
.loader:after {
  content: "";
  height: inherit;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #fbfbfb;
  animation: l42-1 1s infinite;
}
.loader:after {
  --s:-1,-1;
}
@keyframes l42-0 {
  0%,
  60%  {background-position: calc(1*100%/3) 0, calc(2*100%/3) 0}
  100% {background-position: calc(0*100%/3) 0, calc(3*100%/3) 0}
}
@keyframes l42-1 {
  0%   {transform: scale(var(--s,1)) translate(0           ,0)}
  33%  {transform: scale(var(--s,1)) translate(0           ,130%)}
  66%  {transform: scale(var(--s,1)) translate(calc(400%/3),130%)}
  100% {transform: scale(var(--s,1)) translate(calc(400%/3),0)}
}